{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Snowboard Tricks</title>
        <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    </head>
    <body id='bg'
          style="background-image:url('{% static 'images\IMG_5309.jpg' %}');">
        <header>
            {% comment %} <img src="{% static 'images\IMG_5309.jpg' %}"> {% endcomment %}
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href ="{% url 'list_projects' %}">My Tricks</a>
                        </li>
                        <li>
                            <a href ="{% url 'show_my_tasks' %}">Skills</a>
                        </li>
                        <li>
                            <a href ="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href ="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href ="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
