{% extends 'base.html' %}
{% block content %}
    <div class = "task-form">
        <h1>Skill to be Learned</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit</button>
        </form>
    </div>
{% endblock content %}
