{% extends 'base.html' %}
{% block content %}
    <div class = "my-task-list">
        <h1 class = "text">Skills to Work On</h1>
        {% if task_list %}
            <table class = "text">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Skill Level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_list %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.skill_description }}</td>
                            <td>
                                {% if task.is_completed is False %}
                                    <form method="post" action="{% url 'complete_task' task.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>
                                {% else %}
                                    {{ task.is_completed|yesno:"send it, not gonna send it" }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>
                You have no skills to learn
            </p>
        {% endif %}
    </div>
{% endblock content %}
