{% extends 'base.html' %}
{% block content %}
    <div class = "project-form">
        <h1>New Trick</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit</button>
        </form>
    </div>
{% endblock content %}
