{% extends 'base.html' %}
{% load static %}
{% load markdownify %}
{% block content %}
    <div class = "project-form">
        <h1>{{ project.name }}</h1>
        <p>
            {{ project.description|markdownify }}
        </P>
        <img src = "{{ project.image }}"/>
        <h2>Skills Needed for Trick</h2>
        <p>
            <a href ="{% url 'create_task' %}">Add a new skill</a>
        </p>
        {% if object.tasks.all|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Skill Level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in object.tasks.all %}
                        <tr>
                            <td>{{ tasks.name }}</td>
                            <td>{{ tasks.skill_description }}</td>
                            <td>{{ tasks.is_completed|yesno:"send it, not gonna send it" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>
                This trick has no skills to be learned
            </p>
        {% endif %}
    </div>
{% endblock content %}
