{% extends 'base.html' %}
{% block content %}
    <div class = "project-list">
        <h1>My Tricks</h1>
        <p>
            <a href = "{% url 'create_project' %}">Add New Trick</a>
        </p>
        {% if project_list|length is 0 %}
            <P>
                You are not assigned to any tricks
            </P>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Skills Needed for Trick</th>
                        <th>Coaching</th>
                        <th>Trick Mastery</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project_list %}
                        <tr>
                            <td>
                                <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                            </td>
                            <td>{{ project.tasks.all | length }}</td>
                            <td>
                                <a href= '{{ project.coaching_tips }}'>Tips</a>
                            </td>
                            <td>
                                {% if project.is_completed is False %}
                                    <form method="post" action="{% url 'complete_project' project.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Jerry</button>
                                    </form>
                                {% else %}
                                    {{ project.is_completed|yesno:"Stomped, " }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}
